{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<h1 class='text-center mt-4 text-white'>olala je m'appelle Kalo et j'aime la bite</h1>
{% endblock %}
